<!-- Зміна номера та емайлу тут. Просто редагуємо цифри або назву ел.пошти

Щоб додати додатковий номер, копіюємо відповідник блок, якщо мейл - копіюємо блок мейлу 

та всталяємо нижче від копійованого блоку.  -->



<!-- !!!!!!!!!Блок телефону - початок!!!!!!!! -->
<a class="navbar__tel" href="tel:

    +380937743366"> <!-- <==== змінюємо!! Увага, лапки не стираємо-->

    +38 (093) 774 33 66 <!-- <==== змінюємо-->

    <svg>
        <use xlink:href="{{ 'assets/svg/info.svg#phone_2'|theme }}"></use>
    </svg>
</a>
<!-- !!!!!!!!!Блок телефону - кінець!!!!!!!! -->

<!-- новйи телефон вставляємо тут нижче -->





<!-- !!!!!!!!!Блок телефону - початок!!!!!!!! -->
<a class="navbar__tel" href="tel:

    +380689609712"> <!-- <==== змінюємо!! Увага, лапки не стираємо-->

    +38 (068) 960 97 12 <!-- <==== змінюємо-->

    <svg>
        <use xlink:href="{{ 'assets/svg/info.svg#phone_1'|theme }}"></use>
    </svg>
</a>
<!-- !!!!!!!!!Блок телефону - кінець!!!!!!!! -->

<!-- новйи телефон вставляємо тут нижче -->






<!-- !!!!!!!!!Блок мейлу - початок!!!!!!!! -->
<a class="navbar__mail" href="mailto:

        dreamschool.ua@gmail.com"> <!-- <==== змінюємо!! Увага, лапки не стираємо-->
            
        dreamschool.ua@gmail.com <!-- <==== змінюємо!!-->
    
    <svg>
        <use xlink:href="{{ 'assets/svg/info.svg#gmail'|theme }}"></use>
    </svg>
</a>
<!-- !!!!!!!!!Блок мейлу - кінець!!!!!!!! -->

