
<!-- Добавляти нове відео сюда. Тіки парне число файлів, значить додавання по ДВА файла. -->


<video class="glider-item" controls poster="{{ 'assets/images/posters/v1.webp'|theme }}" src="{{ 'assets/video/v1.mp4'|theme }}"></video>
<video class="glider-item" controls poster="{{ 'assets/images/posters/v2.webp'|theme }}" src="{{ 'assets/video/v2.mp4'|theme }}"></video>
<video class="glider-item" controls poster="{{ 'assets/images/posters/v3.webp'|theme }}" src="{{ 'assets/video/v3.mp4'|theme }}"></video>
<video class="glider-item" controls poster="{{ 'assets/images/posters/v4.webp'|theme }}" src="{{ 'assets/video/v4.mp4'|theme }}"></video>
<video class="glider-item" controls poster="{{ 'assets/images/posters/v5.webp'|theme }}" src="{{ 'assets/video/v5.mp4'|theme }}"></video>
<video class="glider-item" controls poster="{{ 'assets/images/posters/v6.webp'|theme }}" src="{{ 'assets/video/v6.mp4'|theme }}"></video>
<video class="glider-item" controls poster="{{ 'assets/images/posters/v7.webp'|theme }}" src="{{ 'assets/video/v7.mp4'|theme }}"></video>
<video class="glider-item" controls poster="{{ 'assets/images/posters/v8.webp'|theme }}" src="{{ 'assets/video/v8.mp4'|theme }}"></video>
<video class="glider-item" controls poster="{{ 'assets/images/posters/v9.webp'|theme }}" src="{{ 'assets/video/v9.mp4'|theme }}"></video>
<video class="glider-item" controls poster="{{ 'assets/images/posters/v10.webp'|theme }}" src="{{ 'assets/video/v10.mp4'|theme }}"></video>