<section class="partners">
    <div class="wrapper">

      {% component 'contenteditor' file="partners__title.htm" %}

      <div class="partners__group">
        <svg class="partners__img" data-animation="flipInY">
          <use xlink:href="{{ 'assets/svg/partners.svg#part_1'|theme }}"></use>
        </svg>
        <svg class="partners__img" data-animation="flipInY">
          <use xlink:href="{{ 'assets/svg/partners.svg#part_6'|theme }}"></use>
        </svg>
        <svg class="partners__img" data-animation="flipInY">
          <use xlink:href="{{ 'assets/svg/partners.svg#part_3'|theme }}"></use>
        </svg>
        <svg class="partners__img" data-animation="flipInY">
          <use xlink:href="{{ 'assets/svg/partners.svg#part_4'|theme }}"></use>
        </svg>
        <svg class="partners__img" data-animation="flipInY">
          <use xlink:href="{{ 'assets/svg/partners.svg#part_5'|theme }}"></use>
        </svg>
        <svg class="partners__img" data-animation="flipInY">
          <use xlink:href="{{ 'assets/svg/partners.svg#part_2'|theme }}"></use>
        </svg>
      </div>
    </div>
  </section>