[alternateHrefLangElements]
==
<div class="navbar__toggle-lang">

    <a class="navbar__lang"  href="#" data-request="onSwitchLocale" data-request-data="locale: 'uk'">
        <svg>
            <use xlink:href="{{ 'assets/svg/lang.svg#ukraine'|theme }}"></use>
        </svg>
    </a>

    <a class="navbar__lang" href="#" data-request="onSwitchLocale" data-request-data="locale: 'en'">
        <svg>
            <use xlink:href="{{ 'assets/svg/lang.svg#eng'|theme }}"></use>
        </svg>
    </a>

    <a class="navbar__lang"  href="#" data-request="onSwitchLocale" data-request-data="locale: 'ru'">
        <svg>
            <use xlink:href="{{ 'assets/svg/lang.svg#russia'|theme }}"></use>
        </svg>
    </a>

</div>