description = "Default layout"

[contenteditor]

[localePicker]
forceUrl = 0

[googleTracker]

[contactForm]
form_description = "ЗАПИШУТЬСЯ НА ЗУСТРІЧ(ЗМІНИТИ ТЕКСТ) 
Ми передзвонимо Вам і виберемо найкращий для Вас час і дату зустрічі."

[SeoCmsPage]
==
<!DOCTYPE html>
<html lang="uk">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% component 'SeoCmsPage' %}
        <link rel="icon" type="image/svg" href="{{ 'assets/svg/ds.svg'|theme }}">
        
        {% placeholder head %}
        
        {% styles %}

    </head>

    <body class="body">

        {% page %}

        {% component 'googleTracker' %}

        <!-- Scripts General -->

        <script src="{{ 'assets/js/jquery-3.5.1.min.js?t=1609243906224'|theme }}"></script>
        
        <script src="{{ 'assets/js/navBar.min.js?t=1609240906224'|theme }}"></script>

        <script src="{{ 'assets/js/scroller.min.js?t=1609240906224'|theme }}"></script>
        
        {% framework extras %} 

        {% scripts %}

        
    </body>

</html>